* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 2rem;
}

.container {
    width: 100%;
}

.frame {
    width: 100%;
    text-align: center;
}

.image {
    width: 300px;
}

.invisible {
    display: none;
}

.circles {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.circle {
    height: 15px;
    width: 15px;
    border: 1px solid;
    border-color: grey;
    margin: 0.5rem;
    border-radius: 100%;
}

.circle-active {
    background-color: grey;
}

.buttons {
    text-align: center;
}